.size {
  /* font-size: 128px; */
}

.text-stroke {
  -webkit-text-stroke: 1px black; /* WebKit browsers */
  text-stroke: 1px black; /* Standard syntax */
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1536px) {
  /* .text-stroke {
    font-size: 187px;
  } */
  /* .hero-head {
    font-size: 91px;
  } */
}
