.skewed-box {
  width: 100%;
  height: 570px;
  display: flex;
}

.imagebox {
  width: calc(50%);
}

.text {
  width: calc(50%);
  height: 100%;
  background: #dadada;
  border-left: 110px solid #f3f4f6;
  border-bottom: 570px solid transparent;
}

.price {
  font-size: 28px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .skewed-box {
    width: 100%;
    height: 370px;
    display: flex;
  }
  .text {
    width: calc(50%);
    height: 67%;
    background: #dadada;
    border-left: 110px solid #f3f4f6;
    border-bottom: 385px solid transparent;
  }
}
