.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 738px;
  height: 390px;
  box-shadow: none !important;
}
@media (max-width: 1024px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 650px;
    height: 280px;
  }
}
@media (max-width: 425px) {
  /* img {
    width: 75%;
    display: flex;
    margin: auto;
  } */
}
